body {
    
    font-family: 'Montserrat', sans-serif;
    background-image: url("fundo.jpg");

}
header {
    background: #708090;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

    
}

.img-cabecalho {
    position: relative;
    width: 10%;
    left: 250px;
    padding: 60px 0 ;
   
}


nav {
    position: absolute;
	top: 75px;
	right: 0;
       
}

nav li {
    display: inline-block;
    margin: 0 50px;
    box-sizing: border-box;
    
}

nav a {
    
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}
   
.titulo-principal {
   text-align: center;
   margin: 0 auto;
   color: #ffffff;
   font-size: 24;
   padding: 40px 0;
}

.conteudo-principal-subtitulo {
    color: #ffffff;
    text-align: center;
    width: 600px;
}


.conteudo-principal-paragrafo{
    font-size: 22px;
    width: 600px;
    position: relative;
    color: #ffffff;
    left: 50px;
   
}
.conteudo-principal-img {
    position: relative;
    left: 850px;
  
    padding: 20px 0 ;
}

.conteudo-formacao-titulo {
    color: #ffffff;
    text-align: center;
}

.conteudo-formacao-paragrafo {
    position:relative;
    color: #ffffff;
    text-align: center;
}
footer {
    text-align: center;
   color: bisque;
    font-size: 22px;
    padding: 70px 0;
    background: #708090;
}

