body {
    font-size: 100%;
    background: linear-gradient(#FA8072, #E9967A);
}

.img {
    position: relative;
    width: 10%;
    left: 250px;
   
 
}

nav {
    position: absolute;
	top: 110px;
	right: 0;
    
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    padding: 80px;
    
}

nav a {
    
    text-transform: uppercase;
    color: #800000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
