body {
    
    font-family: 'Montserrat', sans-serif;
    background-image: url("fundo.jpg");

}


.container {
   display: flex;
   flex-direction: row;
   align-items: center;   
   justify-content: space-around;
   background: #708090;
   padding: 16px;
   height: 100px;
}

.img-cabecalho {
    height: 100px;   
    width: 100px;
   
}
.container-menu {
    display: flex;
    text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;   
    gap: 100px;
}

.container-menu a {
    text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
     
}

.titulo-principal {
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    padding: 20px 0;
 }
 
.conteudo-principal {
    padding: 3em 0;
    margin: 0 auto;
    
}

.conteudo-principal-paragrafo{

    position: relative;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.4em;
    margin: 50px;
    margin-bottom: 1.5em;
   
}

.conteudo-principal-img {
      
    position: fixed;
    bottom: 200px;
    right: 100px;

}

.conteudo-formacao-titulo {
   
    color: #ffffff;
    text-align: center;
    padding: 22px;
    font-size: 22px;

}

.conteudo-formacao-paragrafo {
    color: #ffffff;
    line-height: 30px;
    text-align: center;

}

.rodape {
    
    text-align: center;
    color: bisque;
    font-size: 22px;
    background: #708090;
    padding: 63px 0;
    
}
/*pagina contato*/

.contato {
    
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    padding: 200px 0;
  
}

button {
    font-size: 22px;
    padding: 9px;
    margin: 20px 0;
}





